extends layout

block content
  .main.container.text-xs-center
    img.img-responsive(src='/assets/images/CSM.png')
      
    h1.display-3 CoinSense
    h3.display-5.text-muted Cryptocurrency Simulator
    p.lead A Stepping Stone to the Real Cryptocurrency Markets!
    a.btn.btn-info-outline.btn-lg(href='/register') Get Started for FREE


