extends layout

block content
  .main.container.text-xs-center
    img(src='/assets/images/CSM.png').profile-image
      
    h1.display-3 Cryptocurrency Simulator
    p.lead A Stepping Stone to the Real Cryptocurrency Markets!
    a.btn.btn-info-outline.btn-lg(href='/register') Get Started for FREE


