extends adminProfile
block content
    p.fontsize_20 Check current exchange rates and make your profit from buying/selling bitcoins!
    p
        | Turn Bitcoin Into Dollars and Spend Anywhere! Millions of people have made a fortune with bitcoins! Bitcoin is a type of digital currency in which encryption techniques are used to regulate the generation of units of currency and verify the transfer
        | of funds, operating independently of a central bank.
    .topmargin_40
        script(type="text/javascript", src="https://www.cryptonator.com/ui/js/widget/calc_widget.js")
        .cryptonatorwidget
